# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Kagegan\Documents\Ausbildung_FIAE\Abschlussprojekt_2020\Projektdokumentation_FIAE20\documentation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
